apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
  labels:
    app: backend
    version: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
      version: green
  template:
    metadata:
      labels:
        app: backend
        version: green
      # --- ADD THESE 3 ANNOTATIONS HERE ---
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path:   '/metrics'
        prometheus.io/port:   '5000'
    spec:
      containers:
        - name: backend
          image: 616930584352.dkr.ecr.us-east-1.amazonaws.com/backend:green
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /api/health # Corrected path
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/health # Corrected path
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10