apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
      version: green
  template:
    metadata:
      labels:
        app: frontend
        version: green
    spec:
      containers:
        - name: frontend
          image: 616930584352.dkr.ecr.us-east-1.amazonaws.com/frontend-repo:latest
          ports:
            - containerPort: 80
